@import "tailwindcss";

@theme {
    --color-light: #d7f300;
    --color-darkGreen: #3d4d22;
    --color-slateBlue: #1e3a8a;
}

body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #0a0a0a;
}